.seccionMapa{
    width: 100%;
    height: 700px;
    margin-top: 20px;
}
.ventanaInfo{
    color: black;
}
.ventanaInfoTitulo{
    text-align: center;
}
#tituloArticulosDemanda{
    color: #0069d9;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.direccion{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
.imgOrganizaciones{
    text-align: center;
}
#btnRegistrar{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}